<% title t(:new_bed_type) %>

<!-- Horizontal form options -->
<div class="row">
    <div class="col-md-12">

        <!-- Basic layout-->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title"><%= t(:new_bed_type) %></h5>
            </div>
            
            <div class="panel-body">
                <%= render 'form', room_type: @bed_type %>
            </div>

        </div>
        <!-- /basic layout -->
    </div>
</div>
<!-- /horizontal form options -->