<% title t(:new_quick_order) %>

<!-- Horizontal form options -->
<div class="row">
    <div class="col-md-12">

        <!-- Basic layout-->
        <div class="panel panel-flat">
            
            <div class="panel-body">
                <%= render 'form', quick_order: @quick_order %>
            </div>

        </div>
        <!-- /basic layout -->
    </div>
</div>
<!-- /horizontal form options -->