<%= form_tag(menus.url, method: "get") do %>
    <div class="input-group">
        <input type="text" class="form-control" name="keyword" placeholder="Nhập tên khách sạn.....">
        <span class="input-group-btn">
        <input class="btn btn-default" type="submit" style="margin-left:0;">
        <i class="icon-search"></i>
        </input>
        </span>
    </div>
<% end %>