<div class="row">
  <div class="col-md-12">
    <div class="form-group">
        <label class="control-label" ><%= t(:menu_id) %> <span class='text-danger'>*</span></label>
        <div class="">
            <% menu = Naturesoft::Menus::Menu.where(id: options["menu_id"]).first %>
            <% selected = options_for_select([[menu.name,menu.id]], menu.id) if !menu.nil? %>
            <%= select_tag("options[menu_id]",
              selected,
              {
                class: "select2-ajax required",
                include_blank: "none",
                "data-url": naturesoft_menus.select2_backend_menus_path(parent_id: "all"),
              }
            ) %>
        </div>
    </div>
  </div>
</div>