<% title t(:edit_review) + ": " + @review.name %>

<!-- Horizontal form options -->
<div class="row">
    <div class="col-md-12">

        <!-- Basic layout-->
        <div class="panel panel-flat">
            
            <div class="panel-body">
                <%= render 'form', review: @review %>
            </div>

        </div>
        <!-- /basic layout -->
    </div>
</div>
<!-- /horizontal form options -->