<li>
  <a href="#"><i class="icon-stack3"></i> <span><%= t(:hotel) %></span></a>
  <ul>
      <li<% if["naturesoft/products/admin/room_types"].include?(params[:controller]) %>class="active"<% end %>>
        <%= link_to 'Room Types', naturesoft_hotels.admin_room_types_path %>
      </li>
      <li<% if["naturesoft/products/admin/bed_types"].include?(params[:controller]) %>class="active"<% end %>>
        <%= link_to 'Bed Types', naturesoft_hotels.admin_bed_types_path %>
      </li>
  </ul>
</li>