<!DOCTYPE html>
<html>
<head>
  <title>Hotels</title>
  <%= stylesheet_link_tag    "naturesoft/hotels/application", media: "all" %>
  <%= javascript_include_tag "naturesoft/hotels/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
